.card {
  &-header {
    cursor: pointer;

    &.correct {
      background: #446f46;
    }

    &.incorrect {
      background: #971212;
    }

    &.correct > *,
    &.incorrect > * {
      color: #fff;
    }
  }

  button {
    background: none;
    cursor: pointer;
    border: none;
  }
}
